body,html
{
   background: unset;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.list-complete-item {
  transition: all 1s;
  display: inline-flex;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scale(0.5);
}
.list-complete-leave-active {
  position: absolute;
}

#salesChart rect {
  fill: hsl(10, 80%, 70%);
}

#salesChart text {
  fill: black;
  font: 20px sans-serif;
  text-anchor: end;
  alignment-baseline: middle;
}

.action-btn{
  margin-bottom: 5px;
}