p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.list-complete-item {
  transition: all 1s;
  display: inline-flex;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scale(0.5);
}
.list-complete-leave-active {
  position: absolute;
}

#salesChart rect {
  fill: hsl(10, 80%, 70%);
}

#salesChart text {
  fill: black;
  font: 20px sans-serif;
  text-anchor: end;
  alignment-baseline: middle;
}

.action-btn {
  margin-bottom: 5px;
}

#Header1{  
  background: url("headerbg.jpg") no-repeat center center fixed;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#Header2{  
  background: url("header2bg.jpg") no-repeat center center fixed;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
