body, html {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}


body { 
  background-image: url("testLoginBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

h5 {
  font-weight: 400;
}

.container {
  max-width: 400px;
  border-radius: 10px;
  border: 1PX solid lightgray;
  padding-bottom: 100px;
}

.form-container {
  padding: 40px;
  padding-top: 10px;
}