html,
body {
  font-size: min(max(1rem, 4vw), 30px);
  min-width: 315px;
}

.project-holder {
  background: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.project-holder a {
  font-size: 30px;
}

.project-holder ul {
  display: flex;
  flex-wrap: wrap;
}

.project-holder ul > li {
  width: 350px;
}

.project-holder-title {
  font-size: min(max(1rem, 4vw), 45px);
}

hr {
  border: none;
  height: 1px;
}

.project-holder hr {
  background-color: lightgray;
}

.project-link-area {
  width: 100%;
  border-top: 1px solid lightgray;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  justify-content: space-around;
}
