@media only screen and (max-width: 600px) {
  #MainContainer{    
    background-size:65%;
  }
}

html {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asvgjs%3D%22http%3A%2F%2Fsvgjs.dev%2Fsvgjs%22%20viewBox%3D%220%200%201920%201080%22%3E%3Crect%20width%3D%221920%22%20height%3D%221080%22%20fill%3D%22%2397949e%22%3E%3C%2Frect%3E%3Cg%20transform%3D%22matrix(-2.112515728529184e-16%2C-1.15%2C1.15%2C-2.112515728529184e-16%2C297.075866699219%2C1595.7872467041018)%22%3E%3Cpath%20d%3D%22M0%2C-1080C1.5649791206713815%2C-991.6624634202083%2C23.332122252462938%2C-704.5114795106142%2C9.389874724028289%2C-549.9747805212495C-4.55237280440636%2C-395.4380815318848%2C-79.29303364434007%2C-301.517164103832%2C-83.6534851706079%2C-152.77980606381158C-88.01393669687572%2C-4.042448023791195%2C-17.747705191608844%2C194.10020126025114%2C-16.77283443357868%2C342.4493677188729C-15.797963675548516%2C490.7985341774947%2C-67.86575659002486%2C606.1800970913293%2C-77.80426062242691%2C737.3151926879191C-87.74276465482896%2C868.4502882845088%2C-80.78873322953459%2C973.2710949356912%2C-76.40385862799099%2C1129.2599412984111C-72.01898402644738%2C1285.2487876611312%2C-64.2289894511638%2C1501.4582610806408%2C-51.495013013165305%2C1673.248270864239C-38.761036575166806%2C1845.0382806478372%2C-8.582502168860884%2C2078.8747118107067%2C0%2C2160L%201920%202160%20L%201920%20-1080%20Z%22%20fill%3D%22url(%26quot%3B%23SvgjsLinearGradient1161%26quot%3B)%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M960%2C-1080C942.1924292340349%2C-944.4615248008648%2C835.094407569995%2C-517.5447092587251%2C853.1545754042095%2C-266.76914880518893C871.2147432384239%2C-15.99358835165279%2C1059.4897579229691%2C157.0642378461252%2C1068.3610070052864%2C424.65336272121687C1077.2322560876037%2C692.2424875963086%2C924.4422377323273%2C1049.5411608988973%2C906.3820698981128%2C1338.765600445361C888.3219020638984%2C1627.990039991825%2C951.0636783163521%2C2023.1276000742268%2C960%2C2160L%201920%202160%20L%201920%20-1080%20Z%22%20fill%3D%22url(%26quot%3B%23SvgjsLinearGradient1162%26quot%3B)%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3Cdefs%3E%3ClinearGradient%20x1%3D%220.1%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%221%22%20id%3D%22SvgjsLinearGradient1161%22%3E%3Cstop%20stop-color%3D%22%2397949e%22%20offset%3D%220%22%3E%3C%2Fstop%3E%3Cstop%20stop-color%3D%22%2395949e%22%20offset%3D%220%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%3ClinearGradient%20x1%3D%220.1%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%221%22%20id%3D%22SvgjsLinearGradient1162%22%3E%3Cstop%20stop-color%3D%22%23cdcbd0%22%20offset%3D%220%22%3E%3C%2Fstop%3E%3Cstop%20stop-color%3D%22%23cccbd0%22%20offset%3D%220.5%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#MainContainer{
  background-image: url("circlesLarge.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color:white;
  border-radius: 40px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
