html {
  width: 100%;
  background: url(siteBg.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html ,
body {
  height: 100%;
  margin: 0;
}

nav {
    background-color: white;
    color: black;
    border-radius: 5px;
  }
  
  nav ul a,
  nav a,
  nav .brand-logo {
    color: black;
    font-size: 28px;
  } 

  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }  

.sidenav-overlay {
  z-index: 0;
}

.logo-text{
  font-family: 'Courier New', Courier, monospace;
  margin-left:5px;
}