html,
body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(209, 208, 222, 1) 100%
  );
}

nav {
    background-color: white;
    color: black;
    border-radius: 5px;
  }
  
  nav ul a,
  nav a,
  nav .brand-logo {
    color: black;
    font-size: 28px;
  } 

  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }  

.sidenav-overlay {
  z-index: 0;
}