body {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(89, 80, 255, .5) 100%
  );
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.stock-area {
  border: 1px solid lightgrey;
  height: 450px;
  width: 100%;
}

#toast-container {
  top: 1% !important;
  right: auto !important;
  bottom: auto%;
  left: auto;
}
