@media only screen and (max-width: 600px) {
  #MainContainer{    
    background-size:65%;
  }
}

html {
  background: url("stockBG.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#MainContainer{
  background-image: url("circlesLarge.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color:snow;
  border-radius: 40px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.stock-area {
  height: 450px;
  width: 100%;
}

#toast-container {
  top: 1% !important;
  right: auto !important;
  bottom: auto;
  left: auto;
}

#StockTitle .letter {
  display: inline-block;
  line-height: 1em;
}